* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c2b47;
}



#introduccion, #actividad1, #actividad2, #conclusion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 600px;
    width: 100vw;
}

.contenido{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:100vw;
}


#video2, #video2-actividad1, #video3-actividad1, #video4-actividad1, #video5-actividad1,#video6-actividad1,#video7-actividad1,
#video8-actividad1,#video9-actividad1,#video2-actividad2, #video3-actividad2, #video2-conclusion{
    display: none;
}

h1 {
    color: #f08c00;
}

.videos video {
    width: 30rem;
    height: 30rem;
    border: 1px solid white;
}


button {
    width: 10%;
    height: 10%;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #f08c00 40%, #8a3313);
    color: white;
    font-weight: 700;
    padding: 0 2px;
    transition: 0.1s linear;
}

button:hover {
    box-shadow: 0 0 30px #f08c00;
    background: linear-gradient(to bottom right, #8a3313, #f08c00 40%);
    cursor: pointer;
}